@page
@model CanteenSystemForAITU.UI.Pages.Admin.IndexModel
@{
}

<div id="app" class="container">
    <div class="columns">
        <div class="column is-3">
            <div class="menu">
                <p class="menu-label">Admin Menu</p>
                <ul class="menu-list">
                    <li><a>Products</a></li>
                    <li><a>Orders</a></li>
                    <li><a>Stock</a></li>
                </ul>
            </div>
        </div>

        <div class="column is-9">
            <div v-if="!editing">
                <table class="table">
                    <tr>
                        <th>Id</th>
                        <th>Product</th>
                        <th>Value</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr v-for="(p, index) in products">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.value}}</td>
                        <td><a @@click="editProduct(p.id, index)">Edit</a></td>
                        <td><a @@click="deleteProduct(p.id, index)">Remove</a></td>
                    </tr>
                </table>
            </div>

            <div v-else>
                <div class="field">
                    <div class="control">
                        <input class="input" v-model="productModel.name" />
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" v-model="productModel.description" />
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input" v-model="productModel.value" />
                    </div>
                </div>
                <button class="button is-success" @@click="createProduct" v-if="productModel.id">Create Product </button>
                <button class="button is-warning" @@click="updateProduct" v-if="!productModel.id">Update Product </button>
                <button class="button" @@click="cancel" v-if="!productModel.id">Cancel</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="~/js/Admin/main.js"></script>
}