<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CanteenSystemForAITU.UI</title>

    <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Admin/Index">Admin</a>
            </li>
        </ul>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - CanteenSystemForAITU.UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

   
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
